.oreIdWalletConnect-loading {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    animation: oreIdWalletConnecLoadingSpin 0.5s infinite ease-in-out;
  }
}

@keyframes oreIdWalletConnecLoadingSpin {
  0% {
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(0px) rotateX(0deg) rotateY(360deg);
  }
}
