.oreIdWalletConnect {
  display: flex;
  &-modal {
  border-bottom: 1px solid #d0d3d4;
    &-tab {
      text-transform: capitalize !important;
      font-weight: 600 !important;
    }
  }
}

.tabs-divider {
  height: 2px !important;
}
