.Button {
  background: transparent;
  border: none;
  border-radius: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.35);
    background: rgba(0, 0, 0, 0.35);
  }
}