.approveConnectionWidget {
  font-family: Roboto;
  font-style: normal;

  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #333333;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div {
      margin: 10px 0px;
    }

    & > a {
      cursor: pointer;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #08b6e7;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

    & > span {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #08b6e7;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    text-align: center;

    & > div {
      font-size: 24px;
    }

    & > span {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

  button {
    font-weight: bold;
  }
}
