.oreId-profile-buttonOutline {
  align-items: center;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid transparent;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
  }
}
