.button {
  display: flex;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #d1d4d5;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
  }
}
