@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.oreId-profile-OreIdProfileButton {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;

    img {
        margin-right: 10px;
    }

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: right;
    letter-spacing: 0.5px;

    padding-right: 30px;

    &:after {
        content: '';
        background: url(./arrow.svg) no-repeat;
        background-size: 100%;
        position: absolute;
        width: 16px;
        height: 10px;
        top: 12px;
        right: 10px;
        cursor: pointer;
    }

    &.showModal {
        &:after {
            background: url(./arrow.svg) no-repeat;
            transform: rotate(180deg);
        }
    }
}