// @import 'node_modules/@aikon/component-library/_styles/scss/index.scss';

.LongText {
  min-width: 0;
  font-size: 14px !important;
  font-weight: 400 !important;
  display: flex;
  flex-direction: row;
  align-items: center;

  .pointerCursor {
    cursor: pointer;
    // color: $aikon-blue !important;
  }

  .link {
    color: inherit;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .copy {
    width: 16px;
    height: 16px;
    margin-left: 3px;

    >div {
      width: 100%;
      height: 100%;

      &::after {
        transform: none;
        right: 0;
        top: 0;
      }
    }
  }
}

.truncateMiddle {
  word-break: keep-all;
  overflow-wrap: normal;
}