.modal {
  width: 25%;
  min-width: 400px;
  padding: 40px;

  .header {
    .btn {
      color: #08b6e7 !important;
      text-transform: capitalize !important;
      margin: -20px 0 0 -20px !important;
      border-radius: 100px !important;
    }

    .MuiButton-label {
      font-size: 12px !important;
      font-weight: 500 !important;
    }

    .img {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}