.FloatBoxAnchor {
  position: relative;
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: inline;
}

.FloatBox {
  position: absolute;
  top: 5px;

  .content {
    padding: 10px;
  }
}