.oreIdWalletConnect-connectWalletWidget {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  .oreIdWalletConnect-connectWalletWidget-content {
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.5px;

    color: #333333;
    a {
      color: #08b6e7;
    }
  }

  .oreIdWalletConnect-connectWalletWidget-example {
    margin-top: 25px;
    background: #333333;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: row;

    .oreIdWalletConnect-connectWalletWidget-example-code {
      margin-right: 26px;
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 8px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0px auto;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.166667px;
        color: #555555;
      }
    }
    .oreIdWalletConnect-connectWalletWidget-example-content {
      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #ffffff;
      }
    }
  }

  .oreIdWalletConnect-connectWalletWidget-input {
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
    align-items: center;
    justify-content: center;

    & > div {
      padding: 0px 10px;
    }
  }
}
